{{ 'custom-content.css' | asset_url | stylesheet_tag }}

{% assign images_per_section = section.settings.images_per_section %}
{% assign image_blocks = section.blocks | where: "type", "image" %}

<div id="custom-content-container">
  <div class="custom-content-text">
    <!-- <h1>{{ section.blocks.heading }}</h1>
    <h3>This is a subtitle which typically goes under a headline</h3>
    <p>Sed posuere consectetur est at lobortis. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.

Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna.

Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <h2>This is h2 headline</h2>
    <img src="{{ 'table.png' | asset_url }}"/>
    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas faucibus mollis interdum. Sed posuere consectetur est at lobortis.

Curabitur blandit tempus porttitor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus.

Maecenas faucibus mollis interdum. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec ullamcorper nulla non metus auctor fringilla.</p>
    <div class="custom-content-images">
      <img src="{{ 'green_jacket.png' | asset_url }}"/>
      <img src="{{ 'purple_jacket.png' | asset_url }}"/>
    </div>
  </div> -->
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'title' %}
          <h1>{{ block.settings.heading_text }}</h1>
        {% when 'sub_subtitle' %}
          <h3>{{ block.settings.subheading_text }}</h3>
        {% when 'paragraph' %}
          <p>{{ block.settings.paragraph_text }}</p>
        {% when 'subtitle' %}
          <h2>{{ block.settings.heading_text }}</h2>
      {% endcase %}
    {% endfor %}
    
    {% if image_blocks.size > 0 %}
      <div class="custom-content-images">
        {% for block in image_blocks %}
          <div style="flex: 0 0 {{ 100 | divided_by: images_per_section }}%;">
            <img src="{{ block.settings.image | image_url }}" alt="">
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
  <nav class="custom-content-sidebar">
    <h1 class="sidebar-title">Sidebar</h1>
    <div>
      {% for link in linklists[section.settings.sidebar_links].links %}
        <a href="{{ link.url }}">{{ link.title }}</a>
      {% endfor %}
    </div>
  </nav>
</div>

{% schema %}
  {
    "name": "Custom Content",
    "settings": [
      {
        "type": "link_list",
        "id": "sidebar_links",
        "label": "Sidebar Links",
        "info": "Add links to the sidebar section",
      },
      {
        "type": "range",
        "id": "images_per_section",
        "min": 1,
        "max": 3,
        "step": 1,
        "label": "Images per section",
        "default": 1
      },
    ],
    "presets": [
      {
        "name": "Custom Content",
        "settings": {
        }
      }
    ],
    "blocks": [
      {
        "type": "title",
        "name": "Title",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "This is a sample title"
          }
        ]
      },
      {
        "type": "subtitle",
        "name": "Subtitle",
        "settings": [
          {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle",
            "default": "This is a sample subtitle"
          }
        ]
      },
      {
        "type": "sub_subtitle",
        "name": "Sub subtitle",
        "settings": [
          {
            "type": "text",
            "id": "sub_subtitle",
            "label": "Sub subtitle",
            "default": "This is a sample sub subtitle"
          }
        ]
      },
      {
        "type": "paragraph",
        "name": "Paragraph",
        "settings": [
          {
            "type": "textarea",
            "id": "paragraph",
            "label": "Paragraph text",
            "default": "This is a sample paragraph"
          }
        ]
      },
    ]
  }
{% endschema %}