{{ 'custom-collage.css' | asset_url | stylesheet_tag }}

{% assign first_column_first_row = 'hiking' %}
{% assign first_column_second_row = 'accessories' %}
{% assign second_column = 'outdoor essentials' %} 

<div class="gallery-container">
  <div class="gallery-container-1">
    <img src="{{ 'collection-homepage.jpg' | asset_url }}" />
    <div class="gallery-text">
      <h1>{{ first_column_first_row | upcase }} ESSENTIALS</h1>
      <p>Nullan quis risus eget urna mollis ornare vel eu leo.</p>
      <button>SHOP {{ first_column_first_row | upcase }}</button>
    </div>
  </div>
  <div class="gallery-container-2">
    <img src="{{ 'collection-homepage-2.jpg' | asset_url }}" />
    <div class="gallery-text">
      <h1>{{ first_column_second_row | upcase }}</h1>
      <p>Curabitur blandit tempus porttitor. Maecenas faucibus mollis.</p>
      <button>SHOP {{ first_column_first_row }}</button>
    </div>
  </div>
  <div class="gallery-container-3">
    <div>
      <img src="{{ 'collection-homepage-3.jpg' | asset_url }}" />
      <div class="gallery-text">
        <h1>{{ second_column | upcase }}</h1>
        <p>Curabitur blandit tempus porttitor. Maecenas faucibus mollis.</p>
        <button>SHOP {{ second_column | upcase }}</button>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": [
       {
        "type": "text",
        "id": "collage_title_1",
        "label": "Collage Title 1",
        "default": "Lorem Ipsum"
      },
      {
        "type": "textarea",
        "id": "collage_text_1",
        "label": "Collage Text 1",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      },
      {
        "type": "text",
        "id": "collage_button_1",
        "label": "Collage Button 1",
        "default": "Lorem ipsum"
      },
      {
        "type": "image_picker",
        "id": "collage_image_1",
        "label": "Collage Image 1"
      },
      {
        "type": "text",
        "id": "collage_title_2",
        "label": "Collage Title 2",
        "default": "Lorem Ipsum"
      },
      {
        "type": "textarea",
        "id": "collage_text_2",
        "label": "Collage Text 2",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      },
      {
        "type": "text",
        "id": "collage_button_2",
        "label": "Collage Button 2",
        "default": "Lorem ipsum"
      },
      {
        "type": "image_picker",
        "id": "collage_image_2",
        "label": "Collage Image 2"
      },
      {
        "type": "text",
        "id": "collage_title_3",
        "label": "Collage Title 3",
        "default": "Lorem Ipsum"
      },
      {
        "type": "textarea",
        "id": "collage_text_3",
        "label": "Collage Label 3",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      },
      {
        "type": "text",
        "id": "collage_button_3",
        "label": "Collage Button 3",
        "default": "Lorem ipsum"
      },
      {
        "type": "image_picker",
        "id": "collage_image_3",
        "label": "Collage Image 3"
      },
    ],
    "presets": [
      {
        "name": "Custom Gallery",
        "settings": {
          
        }
      }
    ]
  }
{% endschema %}