{{ 'custom-hero.css' | asset_url | stylesheet_tag }}

<div id="section-id-{{ section.id }}" class="{% unless section.settings.full_width %}container{% endunless %} fully-spaced-row--medium section-id-{{ section.id }}" data-section-type="custom-liquid">
  <div class="custom-html">
    <div class="image-container">
      <div class="image1">
        <img src="{{ section.settings.hero_image_1 | img_url: 'master' }}" alt="Shop Fishing">
        <div class="textContainer">
          <p class="sub-heading">{{ section.settings.hero_subheading_1 }}</p>
          <h1>{{ section.settings.hero_title_1 | upcase }}</h1>
          <p>{{  section.settings.hero_description_1 }}</p>
          <button>SHOP {{ section.settings.hero_button_text_1 | upcase }}</button>
        </div>
      </div>
      <div class="image2">
        <img src="{{ section.settings.hero_image_1 | img_url: 'master' }}" alt="Shop Outdoors">
        <div class="textContainer">
          <p class="sub-heading">{{ section.settings.hero_subheading_2 }}</p>
          <h1>{{ section.settings.hero_title_2 | upcase }}</h1>
          <p>{{ section.settings.hero_description_2 }}</p>
          <button>SHOP {{ section.settings.hero_button_text_2 | upcase }}</button>
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Custom Liquid",
    "settings": [
      {
        "id": "full_width",
        "type": "checkbox",
        "label": "Full page width",
        "default": true
      },
      {
        "type": "text",
        "id": "hero_title_1",
        "label": "Hero Title 1",
        "default": "Explore the Outdoors"
      },
      {
        "type": "text",
        "id": "hero_subheading_1",
        "label": "Hero Subheading 1",
        "default": "EVERYTHING YOU NEED"
      },
      {
        "type": "textarea",
        "id": "hero_description_1",
        "label": "Hero Description 1",
        "default": "Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."
      },
      {
        "type": "text",
        "id": "hero_button_text_1",
        "label": "Hero Button Text 1",
        "default": "SHOP EVERYTHING"
      },
      {
        "type": "image_picker",
        "id": "hero_image_1",
        "label": "Hero Image 1"
      },
      {
        "type": "text",
        "id": "hero_title_2",
        "label": "Hero Title 2",
        "default": "Gear Up for Adventure"
      },
      {
        "type": "text",
        "id": "hero_subheading_2",
        "label": "Hero Subheading 2",
        "default": "ON AN ADVENTURE"
      },
      {
        "type": "text",
        "id": "hero_button_text_2",
        "label": "Hero Button Text 2",
        "default": "SHOP ADVENTURE"
      },
       {
        "type": "textarea",
        "id": "hero_description_2",
        "label": "Hero Description 2",
        "default": "Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."
      },
      {
        "type": "image_picker",
        "id": "hero_image_2",
        "label": "Hero Image 2"
      }
    ],
    "presets": [
      {
        "name": "Custom Hero",
        "settings": {
        }
      }
    ]
  }
{% endschema %}
