{{ 'footer.css' | asset_url | stylesheet_tag }}

<div id="custom-footer" data-section-type="footer">
  {% if section.blocks != blank %}
    <div class="container container--no-max section-footer__row-container">
      <div class="section-footer-container" data-num-blocks="{{ section.blocks.size }}">
         <div class="footer-logo">
           <img src="{{ 'logo.png' | asset_url }}" width="200px" height="50px"/>
         </div>
         <div class="footer-info-links">
          <h1>Info</h1>
          {% for link in section.settings.footer_links %}
            <a href="{{ link.url }}">{{ link.title }}</a>
          {% endfor %}
         </div>
         <div class="footer-contact">
           <h1>Contact</h1>
           <div>
             <p>Tel <span>{{ section.settings.telephone_contact }}</span><br/>Email <span>{{ section.settings.email_contact }}</span></p>
           </div>
           <div class="address">
             <p>{{ section.settings.address }}</p>
           </div>
           <div>
             <p>Follow Us</p>
           </div>
           <div class="social-icons-footer">
             <span>{%- render 'instagram' -%}</span>
             <span>{%- render 'facebook' -%}</span>
             <span>{%- render 'pinterest' -%}</span>
             <span>{%- render 'twitter' -%}</span>
           </div>
         </div> 
         <div class="section-footer__row__col section-footer__newsletter-block">
            <h6 class="section-footer__title" id="newsletter-title">
              Join Our Newsletter
            </h6>
           
            <div class="section-footer__text">
              <p>Be the first to know about Our offers, events, new arrivals & sales.</p>
            </div>

            <div class="signup-form">
              {% form 'customer', id: 'footer_newsletter_signup' %}
                {% if form.posted_successfully? %}
                  <div class="section-footer__newsletter-block__message signup-form__response signup-form__response--success">
                    <h6>{{ 'layout.signup.post_success' | t }}</h6>
                  </div>
                {% else %}
                  {% if form.errors %}
                    {% for field in form.errors %}
                      <p class="section-footer__newsletter-block__message--error signup-form__response signup-form__response--error">
                        {{ field | capitalize }} - {{ form.errors.messages[field] }}
                      </p>
                    {% endfor %}
                  {% endif %}
                  <input type="hidden" name="contact[tags]" value="prospect,newsletter"/>
                  <p>
                    <label>Email Address</label>
                    <input type="email"
                      class="signup-form__email"
                      value=""
                      name="contact[email]"
                      aria-label="{{ 'layout.signup.input_label' | t | escape }}"
                      required />
                  </p>
                  <button class="btn btn--signup-form__button" type="submit">
                    {{- 'layout.signup.submit' | t -}}
                  </button>
                {% endif %}
              {% endform %}
            </div>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="container container--no-max bottom-footer-custom-section section-footer__row-container {% if showing_localization %}section-footer__row-container--with-localization{% endif %}">
    <div class="section-footer__row section-footer__row-lower">
      <div class="section-footer__row__col">
        <p class="built-by">Built by <span>{%- render 'svg-studio-logo' -%}</span> <b>StudioForty9</b></p>
        
        {% if section.settings.lower_menu != blank %}
          <div class="section-footer__lower-menu" role="navigation">
            <ul class="section-footer__lower-menu__list" aria-label="{{ 'layout.footer.navigation_aria_label' | t | escape }}">
              {% for link in linklists[section.settings.lower_menu].links %}
                <li>
                  <a href="{{ link.url }}">
                    {{- link.title -}}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
      <div class="section-footer__row__col">
        <div class="copyright">
          <span class="copy">Copyright &copy; <a href="{{ routes.root_url }}">StudioForty9 | Cookies | Terms & Conditions</a></span>
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Footer",
    "class": "section-footer",
    "max_blocks": 4,
    "settings": [
      {
        "type": "link_list",
        "id": "footer_links",
        "label": "Manage Footer Links",
        "info": "Add links to your footer section",
      },
      {
        "type": "text",
        "id": "telephone_contact",
        "label": "Edit telephone contact",
        "default": "012 345678"
      },
      {
        "type": "text",
        "id": "email_contact",
        "label": "Edit email contact",
        "default": "hello@domain.com"
      },
      {
        "type": "textarea",
        "id": "address",
        "label": "Edit address",
        "default": "Lorem Ipsum Outdoor Unit 1, Lipsum, City, Co County"
      },
      {
        "type": "header",
        "content": "Social media links",
        "info": "These are shown inside text and newsletter blocks. Add to the footer and enable inside."
      },
      {
        "type": "header",
        "content": "Payment methods"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": true
      },
      {
        "type": "header",
        "content": "Country/Region Selector",
        "info": "To add a country/region, go to your [payment settings.](/admin/settings/payments)"
      },
      {
        "type": "checkbox",
        "id": "show_country_selector",
        "label": "Enable country/region selector",
        "default": true
      },
      {
        "type": "header",
        "content": "Language Selector",
        "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
      },
      {
        "type": "checkbox",
        "id": "show_language_selector",
        "label": "Enable language selector",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "@app"
      },
      {
        "type": "menu",
        "name": "Links",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Quick links"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Menu",
            "info": "This menu won't show dropdown items",
            "default": "footer"
          }
        ]
      },
      {
        "type": "text",
        "name": "Text and social media",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Talk about your store"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this text area to tell your customers about your brand and vision. You can change it in the theme editor.<\/p>"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "range",
            "id": "image_width",
            "min": 30,
            "max": 200,
            "step": 5,
            "unit": "px",
            "label": "Footer image width",
            "default": 100
          },
          {
            "type": "checkbox",
            "id": "show_social_icons",
            "label": "Show social media links",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "soc_icons_large",
            "label": "Use large social media icons",
            "default": false
          }
        ]
      },
      {
        "type": "newsletter",
        "limit": 1,
        "name": "Newsletter",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Newsletter"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Sign up for exclusive offers, original stories, events and more.</p>"
          },
          {
            "type": "paragraph",
            "content": "Customers who subscribe will have their email address added to the “accepts marketing” [customer list](/admin/customers?query=&accepts_marketing=1)"
          },
          {
            "type": "select",
            "id": "button_style",
            "label": "Button style",
            "default": "primary",
            "options": [
              {
                "label": "Primary",
                "value": "primary"
              },
              {
                "label": "Secondary",
                "value": "secondary"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "show_social_icons",
            "label": "Show social media links",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "soc_icons_large",
            "label": "Use large social media icons",
            "default": false
          }
        ]
      }
    ]
  }
{% endschema %}
