{{ 'rich-text.css' | asset_url | stylesheet_tag }}

{% assign rich_text_svg = "svg-return, svg-truck, svg-location-pin" | split: ", " %}
{% assign rich_text_description = "28 Day Returns, Free Delivery On Orders Over €40, In Business Since 1977" | split: ", " %}

<div class="article-rich-text">
  <div class="article-container">
    <div class="rich-text-container">
      <img src="{{ section.settings.rich_text_image_1 | asset_url }}" alt="Returns icon"/>
      <p class="rich-text-title">{{ section.settings.rich_title_1 }}</p>
    </div>
    <div class="rich-text-container">
      <img src="{{ section.settings.rich_text_image_1 | asset_url }}" alt="Free delivery icon"/>
      <p class="rich-text-title">{{ section.settings.rich_title_2 }}}</p>
    </div>
    <div class="rich-text-container">
      <img src="{{ section.settings.rich_text_image_1 | asset_url }}" alt="Business icon"/>
      <p class="rich-text-title">{{ section.settings.rich_title_3 }}</p>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Rich text",
    "class": "section-rich-text",
    "settings": [
      {
        "type": "text",
        "id": "rich_title_1",
        "label": "Rich Title 1",
        "default": "28 Day Returns"
      },
      {
        "type": "image_picker",
        "id": "rich_text_image_1",
        "label": "Icon 1"
      },
      {
        "type": "text",
        "id": "rich_title_2",
        "label": "Rich Title 2",
        "default": "Free Delivery On Orders Over €40"
      },
      {
        "type": "image_picker",
        "id": "rich_text_image_2",
        "label": "Icon 2"
      },
      {
        "type": "text",
        "id": "rich_title_3",
        "label": "Rich Title 3",
        "default": "In Business Since 1977"
      },
      {
        "type": "image_picker",
        "id": "rich_text_image_3",
        "label": "Icon 3"
      },
    ],
    "presets": [
      {
        "name": "Rich text",
        "settings": {
          
        }
      }
    ]
  }
{% endschema %}
